@media screen and (min-width:992px) {
/* PARTIE COMMUNE: header + footer */
#logoContainer {
    float: left;
    text-align: center;
    width: 20%;
}
#titre {
    width: 80%;
    height: 160px;
    float: left;
    display: flex;
}
h1 {
    font-family: "Parisienne";
    color: #245F15;
    font-size: 96px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    align-self: center;
}
.container {
    float: left;
    width: 100%;
    max-width: 100%;
}
#logoMin, #logoMinContainer {
    width: 0%;
}
#menu p {
    float: left;
    text-align: center;
    width: 20%;
}
#buttonContainer {
    float: left;
    width: 0%;
}
.navbar {
    padding: 0 0;
    width: 100%;
    background-color: rgb(185, 202, 139); 
}
.navbar-nav {
    width: 100%;
}
.navbar-brand {
    font-family: "Parisienne";
    font-size: 36px;
    text-align: center;
    color: #245F15;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 10px;
}
.navbar-brand:hover {
    color: white;
}
li {
    width: 25%;
    text-align: center;
}
#menu a {
    float: left;
    width: 25%;
    color: #7d1f1f;
    font-family: "Parisienne";
    font-size: 36px;
}
#presentationContent, #realisationContent, #occasionContent, #contactContent {
    background-image: url("../img/fondPage.jpeg");
    text-align: center;
    width: 100%;
    float: left;
}
#presentationContent{
    height: 650px;
}
#evenement {
    float: left;
    width: 100%;
    height: 50px;
    background-color: rgba(185, 202, 139, 0.53);
}
#evenement p {
    width: 100%;
    text-align: center;
    font-family: "La Belle Aurore";
    font-size: 20px;
    padding-top: 10px;
    color: #204919;
}
/* Fin partie Commune */
/* Page Présentation */
#presentationContent {
    display: flex;
}
#presentationContent picture {
    float: left;
    width: 50%;
    align-self: center;
}
#presentationContent img {
    width: 100%;
}
#presentationTextContainer{
    float: left;
    width: 50%;
    display: flex;
}
#presentationContent p {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Parisienne";
    color: white;
}
#paragraphContainer{
    align-self: center;
}
/* Fin page presentation */
/* début css présentation sébastien*/
.realisationProduct{
    float: left;
    margin-left: 5%;
}
.realisationText h2{
    text-align: center;
    font-size: 2em;
    color: white;
}
.realisationText p{
    font-size: 1.3em;
    color: white;
    text-align: center;
}
/* Page occasion: Thomas*/
.occasionConteneur, .realisationContainer {
    float: left;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: stretch;
}
.occasionTextConteneur, .realisationTextContainer {
    float: left;
    width: 20%;
    min-width: 250px;
    display: flex;
}
.occasionText, .realisationText {
    width: 90%;
    margin-left: 5%;
    align-self: center;
}
.occasionImages, .realisationImage {
    float: left;
    width: 80%;
}
.occasionText h2 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
}
.occasionText p {
    font-size: 18px;
    text-align: center;
    color: white;
}
.occasionProducts {
    float: left;
    margin-bottom: 30px;
    max-width: 100%;
    margin-left: 2.77%;
 }
.occasionProducts figcaption, .realisationProduct figcaption {
    text-align: center;
    color: white;
}
/* fin page occasion */
/* debut page contact */
.contactContainer {
    width: 100%;
    float: left;
}
.contactfigur {
    height: 200px;
    width: 33.33%;
    text-align: center;
    float: left;
}
.contacttext {
    color:white;
    float: left;
    width: 100%;
    font-size: 28px;
    text-align: center;
}
#addressContainer {
    width: 50%;
    float: left;
}
iframe {
    float: left;
    width: 60%;
    padding-bottom: 30px;
    margin-left: 20%;
    height: 350px;
}
#contact{
    float: left;
    text-align: center;
    color: white;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
#tableContainer {
    width: 50%;
    float: left; 
}
table, td {
    border: solid 1px white;
    color: white;
    text-align: center;
}
table {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
    margin-top: 50px;

}
caption{
    caption-side: top;
    color: white;
    text-align: center;
}
}
@media screen and (max-width:991px) {
/* PARTIE COMMUNE: Partie haute + footer */
#menu {
    z-index: +10;
 }
.container {
    float: left;
    width: 100%;
    max-width: 100%;
}
#menu picture, #buttonContainer {
    float: left;
    text-align: center;
    width: 30%;
}
#logo {
    float: left;
    width: 0%;
}
#menu p {
    float: left;
    text-align: center;
    width: 40%;
}
.navbar {
    position: fixed;
    top: 0;
    padding: 0 0;
    width: 100%;
    background-color: rgb(185, 202, 139); 
}
h1, .navbar-brand {
    font-family: "Parisienne";
    font-size: 36px;
    text-align: center;
    color: #245F15;
}
.navbar-brand {
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 10px;
}
.navbar-brand:hover {
    color: white;
}
li {
    text-align: center;
}
#menu a {
    color: #7d1f1f;
    font-family: "Parisienne";
    font-size: 20px;
}
#titre {
    text-align: center;
    width: 100%;
    padding-top: 100px;
}
#presentationContent, #realisationContent, #occasionContent, #contactContent {
    background-image: url("../img/fondPage.jpeg");
    text-align: center;
    width: 100%;
    float: left;
}
#evenement {
    float: left;
    width: 100%;
    background-color: rgba(185, 202, 139, 0.53);
}
#evenement p {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto;
    font-family: "La Belle Aurore";
    font-size: 13px;
    text-align: center;
    color: #204919;
}
/* Fin partie Commune */
/* Page Présentation */
#presentationContent img {
    padding-top: 50px;
    padding-bottom: 20px;
}
#presentationContent p {
    font-family: "Parisienne";
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
#presentationContent{
    height: 850px;
}
/* Fin page presentation */
/* Page Contact */
h2{
font-family: "La Parisienne";
font-size: 25px;
font-style: italic;
text-align: center;
padding-left: 20px;
padding-top: 0px;
padding-bottom: 30px;
color: white;
}
#horaire p{
    font-family: "La Parisienne";
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
    }
.contacttext{
    font-family: "La Parisienne";
    font-size: 15px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
}
.contactContainer{
    margin: 0px;
}
.iframe{
    width: 60%;
    margin-left: 20%;
}
/* Page Réalisation */
#realisationContent {
    font-family: "Parisienne";
    color: white;
}
.realisationProduct{
    float: left;
}
.realisationContainer{
    width: 100%;
    float: left;
}
.row{
    margin: 0;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Fin Page Réalisation */
/* Page Occasion */
#occasionContent {
    font-family: "Parisienne";
    color: white;
}
.occasionProduct{
    float: left;
}
.occasionContainer{
    width: 100%;
    float: left;
}
}